
<% include ./partials/header %>
<h1>Index page!!!</h1>

<% data.forEach(function(blogs){ %>
    <div>
        <h2><%=blogs.title%></h2>
        <img src="<%= blogs.image %> ">
        <span><%= blogs.created_at%></span>
        <p><%= blogs.body%></p>
        <a href="/blogs/<%= blogs.id%>">Read More</a>
    </div>
<% }) %>

<% include ./partials/footer %>