<% include ./partials/header %>
<div class="container">
    <% blog.forEach(function(foundBlog){ %>
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0 text-center">
                            <%=foundBlog.title%>
                        </h3>
                        <img  id = "imagesss" class="card-img-right flex-auto d-none d-lg-block " src="<%=foundBlog.image%>" alt="Card image cap">
                         <div>
                         <span><%=foundBlog.created_at.toDateString() %></span>
                         </div>
                         <div>
                         <p class="card-text mb-auto"><%= foundBlog.body %></p>
                         </div>
                         <form style="margin: 0; padding: 0;" id = "det" action="/blogs/<%=foundBlog.id%>?_method=DELETE" method = "POST">
                         <a class="btn btn-outline-secondary" href="/blogs/<%=foundBlog.id%>">Edit</a>
                        
                        <button  style="display: inline;" class = "btn btn-outline-success">DELETE</button>    
                        </form>
                    </div>
                </div>
<% }) %>
</div>
<% include ./partials/footer %>        